header {
	background-color: #8C8102;
	color: #8C1202;
	font-size: 40px;
	font-family: 'Lobster', cursive;
	margin: 0px;
}
body {
	background-color: #8C1202;
	color: #8C8102;
	font-family: 'Rokkitt', serif;
	margin-right: 0px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  clear: left;
}