header {
	background-color: gold;
	color: maroon;
	font-size: 40px;
	font-family: 'Pangolin', cursive;
	margin: 0px;
}
body {
	background-color: maroon;
	color: gold;
	font-family: 'Roboto', sans-serif;
	margin-right: 0px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  clear: left;
}